{% extends "base.html" %}

{% block title %}| About{% endblock title %}



{% block content %}

<section class="py-3">

	<div class="container">

		<h1>About</h1>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vestibulum elit congue tincidunt tempor. 
            Maecenas laoreet fringilla purus, at pellentesque elit suscipit ac. </p>

	</div>

</section>



<section class="py-3">

	<div class="container">

		<h2>Our story</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vestibulum elit congue tincidunt tempor. 
            Maecenas laoreet fringilla purus, at pellentesque elit suscipit ac. </p>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vestibulum elit congue tincidunt tempor. 
            Maecenas laoreet fringilla purus, at pellentesque elit suscipit ac. </p>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vestibulum elit congue tincidunt tempor. 
            Maecenas laoreet fringilla purus, at pellentesque elit suscipit ac. </p>

	</div>

</section>



<section class="py-3">

	<div class="container">

		<h2>placehplder</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vestibulum elit congue tincidunt tempor. 
            Maecenas laoreet fringilla purus, at pellentesque elit suscipit ac. </p>

	</div>

</section>

{% endblock %}